<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Thème clair */
      @media (prefers-color-scheme: light) {
        body {
          background-color: #ffffff;
          color: #000000;
        }
      }

      /* Thème sombre */
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #121212;
          color: #ffffff;
        }
      }
    </style>
  </head>
  <body>
    <script>
      const urlProjet = "http://127.0.0.1:8000/projets";
      async function loadData() {
        const response = await fetch(urlProjet);
        const results = await response.json();
        console.log(results);
      }
      loadData();
    </script>
  </body>
</html>
